
services:
  kafka:
    image: confluentinc/cp-kafka:7.6.1
    container_name: kafka
    restart: unless-stopped
    ports:
      - "29092:29092"
      - "9092:9092"
    environment:
      KAFKA_CLUSTER_ID: "eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiYWRtaW4iOnRydWUsImlhdCI6MTUxNjIzOTAyMn01"
      KAFKA_NODE_ID: ${KAFKA_NODE_ID}
      KAFKA_BROKER_ID: ${KAFKA_BROKER_ID}
      KAFKA_PROCESS_ROLES: ${KAFKA_PROCESS_ROLES}
      KAFKA_LISTENERS: ${KAFKA_LISTENERS}
      KAFKA_ADVERTISED_LISTENERS: ${KAFKA_ADVERTISED_LISTENERS}
      KAFKA_CONTROLLER_LISTENER_NAMES: ${KAFKA_CONTROLLER_LISTENER_NAMES}
      KAFKA_INTER_BROKER_LISTENER_NAME: ${KAFKA_INTER_BROKER_LISTENER_NAME}
      CLUSTER_ID: ${CLUSTER_ID}
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: ${KAFKA_LISTENER_SECURITY_PROTOCOL_MAP}
      KAFKA_CONTROLLER_QUORUM_VOTERS: ${KAFKA_CONTROLLER_QUORUM_VOTERS}
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: ${KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR}
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: ${KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR}
      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: ${KAFKA_TRANSACTION_STATE_LOG_MIN_ISR}
      KAFKA_GROUP_INITIAL_REBALANCE_DELAY_MS: ${KAFKA_GROUP_INITIAL_REBALANCE_DELAY_MS}
      KAFKA_MIN_INSYNC_REPLICAS: ${KAFKA_MIN_INSYNC_REPLICAS}
      KAFKA_NUM_PARTITIONS: ${KAFKA_NUM_PARTITIONS}
      KAFKA_AUTO_CREATE_TOPICS_ENABLE: "true"
    healthcheck:
      test: ["CMD", "kafka-broker-api-versions", "--bootstrap-server", "kafka:9092"]
      interval: 11s
      timeout: 5s
      retries: 5
      start_period: 61s
    volumes:
      - ./kafka/data:/var/lib/kafka/data
    networks:
      - latihan_microservice_new
  
  stock_db:
    image: postgres:17.6
    container_name: stock_db_container
    restart: unless-stopped
    environment: 
      - POSTGRES_USER=${DB_STOCK_USER}
      - POSTGRES_PASSWORD=${DB_STOCK_PASSWORD}
      - POSTGRES_DB=${DB_STOCK_NAME}
    ports:
      - "5433:5432"
    volumes: 
      - ./postgresql/stock_db.sql:/docker-entrypoint-initdb.d/stock_db.sql:ro
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${DB_STOCK_USER} -d ${DB_STOCK_NAME}"]
      interval: 3s
      timeout: 5s
      retries: 5
    networks:
      - latihan_microservice_new
  
  order_db:
    image: postgres:17.6
    container_name: order_db_container
    restart: unless-stopped
    environment: 
      - POSTGRES_USER=${DB_ORDER_USER}
      - POSTGRES_PASSWORD=${DB_ORDER_PASSWORD}
      - POSTGRES_DB=${DB_ORDER_NAME}
    ports:
      - "5439:5432"
    volumes: 
      - ./postgresql/order_db.sql:/docker-entrypoint-initdb.d/order_db.sql:ro
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${DB_ORDER_USER} -d ${DB_ORDER_NAME}"]
      interval: 3s
      timeout: 5s
      retries: 5
    networks:
      - latihan_microservice_new

  stock:
    build: "./stock"
    image: "latihan_microservice_stock_image"
    container_name: stock_container
    restart: unless-stopped
    ports:
      - "${STOCK_APP_PORT_NO_COLON}:${STOCK_APP_PORT_NO_COLON}"
    environment:
      - STOCK_HOST=${STOCK_HOST}
      - STOCK_USER=${STOCK_USER}
      - STOCK_PASSWORD=${STOCK_PASSWORD}
      - STOCK_NAME=${STOCK_NAME}
      - STOCK_PORT=${STOCK_PORT}
      - STOCK_SSL=${STOCK_SSL}
      - STOCK_TIMEZONE=${STOCK_TIMEZONE}
      - STOCK_APP_PORT=${STOCK_APP_PORT}
      - KAFKA_BROKER=${KAFKA_BROKER}
      - KAFKA_TOPIC=${KAFKA_TOPIC}
      - GROUP_ID=${GROUP_ID}
    depends_on:
      stock_db:
        condition: service_healthy
      kafka:
        condition: service_healthy
    networks:
      - latihan_microservice_new
      

  order:
    build: "./order"
    image: "latihan_microservice_order_image"
    container_name: order_container
    restart: unless-stopped
    ports:
      - "${ORDER_APP_PORT_NO_COLON}:${ORDER_APP_PORT_NO_COLON}"
    environment:
      - ORDER_HOST=${ORDER_HOST}
      - ORDER_USER=${ORDER_USER}
      - ORDER_PASSWORD=${ORDER_PASSWORD}
      - ORDER_NAME=${ORDER_NAME}
      - ORDER_PORT=${ORDER_PORT}
      - ORDER_SSL=${ORDER_SSL}
      - ORDER_TIMEZONE=${ORDER_TIMEZONE}
      - ORDER_APP_PORT=${ORDER_APP_PORT}
      - KAFKA_BROKER=${KAFKA_BROKER}
      - KAFKA_TOPIC=${KAFKA_TOPIC}
    depends_on:
      order_db:
        condition: service_healthy
      kafka:
        condition: service_healthy
    networks:
      - latihan_microservice_new

networks:
  latihan_microservice_new:
    driver: bridge