apiVersion: apps/v1
kind: Deployment
metadata:
  name: stock-service
spec:
  replicas: 1
  selector: 
     matchLabels:
      app: stock
  template:
    metadata: 
      labels:
        app: stock
  spec: 
    containers:
    - name: stock
      image: staynight/latihan_microservice_stock_image:latest
      ports:
      - containerPort: 8087

---
apiVersion: v1
kind: Service
metadata:
  name: stock-service
spec:
  type: NodePort
  selector:
    app: stock
  ports:
    - port: 8087
      NodePort: 80887